
/*   MAIN **************/



.FirstSection{
    min-height: calc(100vh - 85px);
    height: calc(100vh - 85px);

    background: url(img/gt3rsHintergrund.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

section video{
    width: 100%;
}

#sectionmitvideo{
    min-height: 0;
}

#zeroopacity{
    opacity: 0;
    color: #000;
    height: 60vh;
}

section div{
    display: flex;
    flex-direction: row;
    width: 100%;
}

section div div{
    display: flex;
    flex-direction: column;
}