

/*   MAIN **************/





#main1stPage{
    max-width: 100%;
    max-height: calc(100vh - 85px);
    min-height: 0;
    height: calc(100vh - 85px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main1stPage h1{
    margin: 0;
    padding: 3.08vh 0 1.85vh 0;
}

#main1stPage div{
    width: 30%;
}

#main1stPage div img{
    width: 100%;
    height: 100%;
}

table{
    max-width: 80vw;
    width: 80vw;
    max-height: 40vh;
    height: 40vh;
}

table tbody tr td{
    max-width: 16vw;
    max-height: 28.6025vh;

    padding: 1.38888vh 0.78vh;
    border-radius: 10px;

    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
}

table tbody tr td:hover{
    cursor: pointer;
    transform: scale(1.1);

    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
}

table tbody tr td img{
    max-width: 100%;
}

table tbody tr td p{
    font-size: 1.85vh;
    text-align: left;
}