html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

section{
    width: 100%;
    min-height: 100vh;
}

p{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Istok Web";
    font-size: 3.24vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h1{
    margin: 0.926vh auto 2.7777vh auto;
    padding: 0;
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 6.48vh;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
}

a{
    text-decoration: none;
    color: #000;
}


.FetteSchrift{
    font-family: 'Anton', sans-serif;
}

/* NAVBAR ********************/




nav{
    position: sticky;
    top: 0;

    background-color: #000;
    width: 100%;
    height: 85px;
    margin: auto 0 auto 0;
    z-index: 1;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-x: auto;
}

nav ul li{
    float: left;
    margin: auto 2.6% auto 2.6%;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-family: "Istok Web";
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}



/*   MAIN **************/



#main1stPage{
    max-width: 100%;
    max-height: calc(100vh - 85px);
    min-height: 0;
    height: calc(100vh - 85px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main1stPage h1{
    margin: 0;
    padding: 3.08vh 0 1.85vh 0;
}

#main1stPage div{
    width: 30%;
}

#main1stPage div img{
    width: 100%;
    height: 100%;
}

table{
    max-width: 80vw;
    width: 80vw;
    max-height: 40vh;
    height: 40vh;
}

table tbody tr td{
    max-width: 16vw;
    max-height: 28.6025vh;

    padding: 1.38888vh 0.78vh;
    border-radius: 10px;

    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
}

table tbody tr td:hover{
    cursor: pointer;
    transform: scale(1.1);

    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
}

table tbody tr td img{
    max-width: 100%;
}

table tbody tr td p{
    font-size: 1.85vh;
    text-align: left;
}