
/***** MAIN ***************************/


body{
    max-height: calc(100vh - 0.5vh);
}

h1{
    margin-top: 0.5vh;
    margin-bottom: 1vh;
}

table{
    height: 80vh;
    width: 80vw;
    margin: calc(10vh - calc(0.926vh + 1.7777vh + 6.48vh)) 10vw 0 10vw;
}

table tbody tr{
    min-height: 40vh;
}

table tbody tr td{
    padding: 3vh 3vw;
    justify-content: center;
}

table tbody tr td a{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #fff;

    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
}

table tbody tr td a:hover{
    transform: scale(1.2);
    background-color: #b8b8b8;
    border-radius: 30px;

    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
}

table tbody tr td a img{
    height: auto;
    width: 100%;
}