html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

section{
    width: 100%;
    min-height: 100vh;
}

/* HOME *************************/

#Home{
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(img/LandingPageHintergrund2.png);
    background-position: center center;
    background-size: cover;
}

#logo{
    height: 42px;
    width: 30.625%;
    margin: 0 34.6875% auto 34.6875%;
    padding-top: 2%;
}

#logo a{
    height: 42px;
}

#logo a img{
    height: 42px;
    width: 100%;
    height: 100%;
}


nav{
    bottom: 0;
    position: fixed;
    background-color: #000;
    width: 100%;
    height: 85px;
    margin: auto 0 auto 0;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-x: auto;
}

nav ul li{
    float: left;
    margin: auto 2.6% auto 2.6%;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-family: "Istok Web";
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}