/* MAIN ************/

.zubeh-r,
.zubeh-r * {
  box-sizing: border-box;
}
.zubeh-r {
  background: #fafafa;
  width: 100%;
  height: calc(100vh - 85px);
  position: relative;
  overflow: hidden;
}
.rectangle-3 {
  background: #cacaca;
  border-radius: 196px;
  width: 105.885416vw;
  height: 160.462963vh;
  position: absolute;
  left: -76.645833vw;
  top: 20.184259vh;
  transform-origin: 0 0;
  transform: rotate(335deg) scale(1, 1);
}
.zubeh-r2 {
  color: #000000;
  text-align: center;
  font-family: "IstokWeb-Bold", sans-serif;
  font-size: 3.64583vw;
  font-weight: 700;
  position: absolute;
  left: 41.3020833vw;
  top: 2.7777777vh;
}
.main-nav {
  width: 100vw;
  height: 85px;
  position: absolute;
  left: 0;
  top: 92.129629vh;
}
.main-nav-background {
  background: #000000;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.home {
  color: #ffffff;
  text-align: left;
  font-family: "IstokWeb-Bold", sans-serif;
  font-size: 1.822916vw;
  font-weight: 700;
  position: absolute;
  right: 72.5%;
  left: 22.03%;
  width: 5.47%;
  bottom: 20%;
  top: 21.18%;
  height: 58.82%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.modelle {
  color: #ffffff;
  text-align: left;
  font-family: "IstokWeb-Bold", sans-serif;
  font-size: 1.822916vw;
  font-weight: 700;
  position: absolute;
  right: 58.59%;
  left: 32.76%;
  width: 8.65%;
  bottom: 20%;
  top: 21.18%;
  height: 58.82%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.gt-3-rs {
  color: #ffffff;
  text-align: left;
  font-family: "IstokWeb-Bold", sans-serif;
  font-size: 1.822916vw;
  font-weight: 700;
  position: absolute;
  right: 46.72%;
  left: 46.67%;
  width: 6.61%;
  bottom: 20%;
  top: 21.18%;
  height: 58.82%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.zubeh-r3 {
  color: #ffffff;
  text-align: left;
  font-family: "IstokWeb-Bold", sans-serif;
  font-size: 1.822916vw;
  font-weight: 700;
  position: absolute;
  right: 32.76%;
  left: 58.54%;
  width: 8.7%;
  bottom: 20%;
  top: 21.18%;
  height: 58.82%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.kontakt {
  color: #ffffff;
  text-align: left;
  font-family: "IstokWeb-Bold", sans-serif;
  font-size: 1.822916vw;
  font-weight: 700;
  position: absolute;
  right: 19.06%;
  left: 72.5%;
  width: 8.44%;
  bottom: 21.18%;
  top: 20%;
  height: 58.82%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dreh-kreis {
  position: absolute;
  inset: 0;
}
.ellipse-1 {
  background: rgba(202, 202, 202, 0);
  border-radius: 50%;
  border-style: solid;
  border-color: #000000;
  border-width: 10px;
  width: 24.73958333vw;
  height: 24.73958333vw;
  position: absolute;
  left: 8541666vw;
  top: 26.6666666vh;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.kreise {
  width: 33.48958333vw;
  height: 52.5925926vh;
  position: static;
}
.ellipse-2 {
  background: #ffffff;
  border-radius: 50%;
  width: 10.3645833vw;
  height: 10.3645833vw;
  position: absolute;
  left: 27.60416666vw;
  top: 39.4444444vh;
  box-shadow: 0px 0px 36.5px 12px rgba(0, 0, 0, 0.35);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.ellipse-3 {
  background: #ffffff;
  border-radius: 50%;
  width: 8.90625vw;
  height: 8.90625vw;
  position: absolute;
  left: 22.0833333vw;
  top: 59.25925926vh;
  box-shadow: 0px 0px 36.5px 12px rgba(0, 0, 0, 0.35);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.ellipse-4 {
  background: #ffffff;
  border-radius: 50%;
  width: 8.90625vw;
  height: 8.90625vw;
  position: absolute;
  left: 10.4166666vw;
  top: 58.61111vh;
  box-shadow: 0px 0px 36.5px 12px rgba(0, 0, 0, 0.35);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.ellipse-5 {
  background: #ffffff;
  border-radius: 50%;
  width: 8.90625vw;
  height: 8.90625vw;
  position: absolute;
  left: 4.4791666vw;
  top: 40.74074vh;
  box-shadow: 0px 0px 36.5px 12px rgba(0, 0, 0, 0.35);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.ellipse-6 {
  background: #ffffff;
  border-radius: 50%;
  width: 8.90625vw;
  height: 8.90625vw;
  position: absolute;
  left: 10.4166666vw;
  top: 22.5vh;
  box-shadow: 0px 0px 36.5px 12px rgba(0, 0, 0, 0.35);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.ellipse-7 {
  background: #ffffff;
  border-radius: 50%;
  width: 8.90625vw;
  height: 8.90625vw;
  position: absolute;
  left: 22.0833333vw;
  top: 22.5vh;
  box-shadow: 0px 0px 36.5px 12px rgba(0, 0, 0, 0.35);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.modellauto-1 {
  border-radius: 48px;
  width: 9.7395833vw;
  height: 8.148148148vh;
  position: absolute;
  left: 27.91666666vw;
  top: 44.537037vh;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  object-fit: cover;
}
.schl-sselanh-nger-1 {
  border-radius: 85px;
  width: 7.34375vw;
  height: 14.62962963vh;
  position: absolute;
  left: 22.8645833vw;
  top: 59.9074vh;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  object-fit: cover;
}
.thermoflasche-1 {
  border-radius: 68.5px;
  width: 6.71875vw;
  height: 13.42593vh;
  position: absolute;
  left: 11.5104166vw;
  top: 59.8148vh;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  object-fit: cover;
}
.e-bike-1 {
  border-radius: 113px;
  width: 7.03125vw;
  height: 14.074074vh;
  position: absolute;
  left: 11.35416666vw;
  top: 23.3333333vh;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  object-fit: cover;
}
.fahrzeugschl-ssel-1 {
  border-radius: 221px;
  width: 6.66666666vw;
  height: 13.333333vh;
  position: absolute;
  left: 23.229166vw;
  top: 23.6111111vh;
  object-fit: cover;
}
.cap-1 {
  border-radius: 125.5px;
  width: 6.6145833vw;
  height: 13.24074074vh;
  position: absolute;
  left: 5.4166666vw;
  top: 41.85185185vh;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  object-fit: cover;
}




.pfeile {
  width: 4.2546875vw;
  height: 31.0148148vh;
  position: static;
}
.ellipse-8 {
  background: #ffffff;
  border-radius: 50%;
  width: 3.85416666vw;
  height: 3.85416666vw;
  position: absolute;
  left: 37.23958333vw;
  top: 56.94444444vh;
  box-shadow: 0px 0px 36.5px 12px rgba(0, 0, 0, 0.35);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.ellipse-9 {
  background: #ffffff;
  border-radius: 50%;
  width: 3.85416666vw;
  height: 3.85416666vw;
  position: absolute;
  left: 37.23958333vw;
  top: 33.5185185vh;
  box-shadow: 0px 0px 36.5px 12px rgba(0, 0, 0, 0.35);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.pfeil-2 {
  width: 5.55555555vh;
  height: 5.55555555vh;
  position: absolute;
  left: 38.593755937vw;
  top: 40.648148vh;
  transform-origin: 0 0;
  transform: rotate(-120deg) scale(1, 1);
  object-fit: cover;
}
.pfeil-3 {
  width: 5.55555555vh;
  height: 5.55555555vh;
  position: absolute;
  left: 41.25vw;
  top: 59.351851vh;
  transform-origin: 0 0;
  transform: rotate(120deg) scale(1, 1);
  object-fit: cover;
}
.rectangle-4 {
  background: #ffffff;
  border-radius: 31px;
  width: 34.8958333vw;
  height: 5.74074vh;
  position: absolute;
  left: -49px;
  top: 39px;
}
.highlights {
  color: #000000;
  text-align: left;
  font-family: "IstokWeb-Bold", sans-serif;
  font-size: 1.0416666vw;
  font-weight: 700;
  position: absolute;
  left: 25vw;
  top: 5.785185vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}







.modellautos {
  color: #000000;
  text-align: left;
  font-family: "IstokWeb-Regular", sans-serif;
  font-size: 1.0416666vw;
  font-weight: 400;
  position: absolute;
  left: 16.25vw;
  top: 5.785185vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.accessoires {
  color: #000000;
  text-align: left;
  font-family: "IstokWeb-Regular", sans-serif;
  font-size: 1.0416666vw;
  font-weight: 400;
  position: absolute;
  left: 8.020833333vw;
  top: 5.785185vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.fahrr-der {
  color: #000000;
  text-align: left;
  font-family: "IstokWeb-Regular", sans-serif;
  font-size: 1.0416666vw;
  font-weight: 400;
  position: absolute;
  left: 0.78125vw;
  top: 5.785185vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.beschreibung {
  position: absolute;
  inset: 0;
}
.rectangle-5 {
  background: #9f9f9f;
  border-radius: 69px;
  width: 34.5833333vw;
  height: 45.8333333vh;
  position: absolute;
  left: 60.67708333vw;
  top: 41.8518518vh;
  box-shadow: 0px 0px 106.3px 5px rgba(0, 0, 0, 0.5);
}
.modellauto {
  color: #000000;
  text-align: left;
  font-family: "IstokWeb-Bold", sans-serif;
  font-size: 2.34375vw;
  font-weight: 700;
  position: absolute;
  left: 63.6458333333333vw;
  top: 46.574074074vh;
  width: 12.3958333vw;
  height: 4.44444444444vh;
}





.porsche-911-gt-3-rs-992-limited-edition {
  color: #000000;
  text-align: left;
  font-family: "IstokWeb-Bold", sans-serif;
  font-size: 1.82291666vw;
  font-weight: 700;
  position: absolute;
  left: 63.6458333333333vw;
  top: 53.148148vh;
  width: 31.09375vw;
  height: 8.611111vh;
}
.ma-stab-1-18 {
  color: #000000;
  text-align: left;
  font-family: "IstokWeb-Bold", sans-serif;
  font-size: 1.82291666vw;
  font-weight: 700;
  position: absolute;
  left: 63.6458333333333vw;
  top: 63.88888888888vh;
  width: 31.09375vw;
  height: 3.7037037vh;
}
.farbe-eisgraumetallic {
  color: #000000;
  text-align: left;
  font-family: "IstokWeb-Bold", sans-serif;
  font-size: 1.82291666vw;
  font-weight: 700;
  position: absolute;
  left: 63.6458333333333vw;
  top: 69.72222222vh;
  width: 31.09375vw;
  height: 3.7037037vh;
}
.streng-limitiertes-sammlermodell-des-porsche-911-gt-3-rs-992-aus-resine {
  color: #000000;
  text-align: left;
  font-family: "IstokWeb-Bold", sans-serif;
  font-size: 1.197916666vw;
  font-weight: 700;
  position: absolute;
  left: 63.6458333333333vw;
  top: 75.55555555vh;
  width: 31.09375vw;
  height: 6.6666666666vh;
}
.modellauto-2 {
  width: 31.92708333vw;
  height: 27.037037vh;
  position: absolute;
  left: 61.979166vw;
  top: 5.18518518vh;
  object-fit: cover;
}
