#main{
  background-image: url(img/Zubehör/Hintergrund.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

h1{
  margin: 0;
}

#grosseCard{
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 2.5vw;
  max-height: calc(100vh - 85px);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 40vw 40vw;
  grid-template-rows: calc(100vh - 85px);
  column-gap: 15vw;
}

#LinkeHälfte, #RechteHälfte{
  height: calc(100vh - 85px);
  max-height: calc(100vh - 85px);
}

#RechteHälfte{
  padding: 0 7.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#RechteHälfte img{
  width: 100%;
}

#beschreibung{
  padding: 5% 10%;
  border-radius: 69px;
  background: #9F9F9F;
  box-shadow: 0px 0px 106.3px 5px rgba(0, 0, 0, 0.50);
}

#beschreibung p{
  text-align: left;
}

.grosseSchrift{
  font-size: clamp(1.875rem, 1.651rem + 1.122vi, 4.063rem);
}

.mittlereSchrift{
  font-size: clamp(1.25rem, 1.058rem + 0.962vi, 3.125rem);
}

.kleineSchrift{
  font-size: clamp(0.875rem, 0.74rem + 0.673vi, 2.188rem);
}